/*
CSS Created By Tyler Gray

#2196f3 - Light Blue
#b2b2b2 - Gray of Font
#f4f4f4 - Gray of bkground color
#1e88e5 - Darker blue on hover for button



*/

#logintitle{
    -fx-text-fill: black;
}
.root{
  -fx-background: #f4f4f4;
  /*-fx-text-fill: -text-light;*/
  -fx-prompt-text-fill: rgba(0,0,0,.3);

  -text-disabled: -text-disabled-light;
  -background-disabled:rgba(0,0,0,.12);
  -background-fill: -text-light;
}
.text-field {
    -fx-background-color: -fx-text-box-border, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-background-radius: 0 ;
    -fx-text-fill: black;
   /* -fx-text-fill: #b2b2b2;*/
    -fx-font-family: 'Calibri';
}
.text-field:focused {
    -fx-background-color: -fx-focus-color, -fx-background ;

}
.password-field{
    -fx-text-fill: black;
    -fx-prompt-text-fill: black;
    }



.button{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
    -fx-border-radius: 0px;
}
.button:hover{
    -fx-background-color: #1e88e5;
}

.label{
    -fx-font-family: "Calibri Light";
}
.titled-pane > .title{
    -fx-background-color: #2196f3;
    -fx-text-fill: white;
}

.titled-pane
{
    -fx-text-fill: white;
}

.titled-pane > .title > .arrow-button
{
}

.titled-pane > .title > .arrow-button .arrow
{
    -fx-background-color: white;

}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
   /* -fx-tab-min-width:90px; */
}

.tab{
    -fx-background-insets: 0 .2 0 .2,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #2196f3;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 5 5 0 0;

}

.tab-pane .tab:selected
{
    -fx-background-color: #1e88e5;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}